html,
body {
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;

}

/* Title */
.title {
    margin: auto;
    width: 100%;
    height: auto;
    text-align: center;
    color: white;
    margin-left: 200px;
    font-family: 'Josefin Sans', sans-serif;
}

/** Logo **/
.logo {
    height: 200px;
    display: flex;
    text-align: left;
    margin: auto;
    background-color: lightgrey;
}

/** Background Photo **/
.background-photo {
    width: auto;
    height: auto;
    max-width: 100%;
    background-position: center 100%;
    text-align: center;
    color: white;
    margin-bottom: 150px;
}

.background-photo img {
    width: auto;
    height: auto;
    max-width: 100%;
    text-align: center;
}

.background-photo-contact {
    width: auto;
    height: auto;
    max-width: 100%;
    color: white;
    margin-bottom: 150px;
    text-align: right;
}

.background-photo-contact img {
    width: auto;
    height: auto;
    max-width: 100%;

}

/** Navbar **/

.nav-bar {
    color: white;
    font-size: x-large;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 3px;
    display: flex;
    background-color: #3D84A8;
    width: 100%;
    height: auto;
}

.nav-links {
    display: flex;
    list-style-type: none;

}

.nav-links li {
    margin: 10px;
    display: inline-block;
    width: max-content;
    text-align: center;
}

.nav-bar a {
    color: inherit;
    text-decoration: none;
}

.nav-bar a:hover {
    color: blue;
}


.nav-links li.active a {
    text-decoration: underline;
}


/* News Artciles */

.news-posts {
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}

.news-posts img {
    text-align: left;

}


/* Social Links */

.footer {
    margin-top: auto;

}

.social-links {
    text-align: center;
    text-decoration: none;
    letter-spacing: 30px;
    background-color: #3D84A8;
    height: 200px;
    width: 100%;
}

.social-links li {
    display: inline;
    color: inherit;
    background-color: #3D84A8;
    padding-top: 50px;

}

.social-links :hover {
    color: gold;
}

.social-links-list {
    background-color: #3D84A8;
    padding-top: 50px;

}

.copyright {
    font-size: xx-large;
    text-align: center;
    color: white;
    background-color: #3D84A8;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;

}

.fa-spotify,
.fa-square-instagram,
.fa-twitter {

    color: white;
    font-size: xx-large;
}


/* About Section */
.about {

    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 2px;
}

.meet-the-team {

    margin-top: 30px;
    font-family: 'Josefin Sans', sans-serif;

}

.meet-the-team img {
    border-radius: 100%;
}


/* Register and Login Form */
.form-horizontal {

    text-align: center;

}

.contact-form {

    font-family: 'Josefin Sans', sans-serif;
}

.register-form {
    flex-direction: column;
    font-family: 'Josefin Sans', sans-serif;
    font-size: large;

}

.buttons {
    background-color: #3D84A8;
    color: white;
}


.welcome-back {
    text-align: center;
}

.login-page {

    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    width: 100%;
    height: auto;
    font-size: large;
}


/* Alert Message */


.alert-msg {
    position: relative;
    z-index: 9999;
}

/* Responsiveness */
@media screen and (max-width:1190px) {

    .nav-bar {
        width: auto;
        height: auto;
        flex-direction: column-reverse;
        text-align: left;
    }

    .title {
        display: none;
    }
}

@media screen and (max-width: 580px) {

    .nav-bar {
        width: auto;
        height: auto;
        font-size: medium;
    }
}


@media screen and (max-width:460px) {

    .nav-bar {
        width: auto;
        height: auto;
        font-size: small;
        flex-direction: column-reverse;
    }
}

@media screen and (max-width:400px) {
    .nav-bar {
        width: auto;
        height: auto;
        font-size: x-small;
        flex-direction: column-reverse;
    }
}

@media screen and (max-width:400px) {
    .nav-bar {
        width: auto;
        height: auto;
        font-size: xx-small;
        flex-direction: column-reverse;
    }

    .nav-links {
        text-align: left;
    }
}