{% extends "base.html" %}

{% load static %}
{% block content %}

<!---Background Photo-->
<div class="background-photo">
    <img src="{% static 'images/background-photo-about.jpg' %}" alt="image of lots of videogame consoles">
</div>
<!--About Section-->
<section class="about news-posts">
    <div class="row">
        <div class="col-md-12 col-lg-8-col-xl-7">
            <div class="news-preview">
                <article>
                    <h1>About JVN</h1>
                    <h3>Here at JVN we strive to ensure that we provide you with the most up to date and accurate
                        videogame
                        news.
                    </h3>
                    <h3>Like you, we love videogames! We have a diverse team of game journalists who are passionate
                        about
                        what
                        they do!
                    </h3>
                    <h3>Our team love everythoing from platformers like Super Mario to action orientated first person
                        shooters
                        like Call of Duty. Diversity is the spice of life!</h3>
                    <h3>We're always keen to hear from you so feel free to head to our Contact page to get in touch with
                        any
                        news tips, questions or comments you may have!</h3>
            </div>
        </div>
    </div>
</section>
<br>

<!--Meet the team section-->
<div class="meet-the-team row news-posts">
    <h1>Meet the Team</h1>
    <div class="col-lg-4">
        <img src="/static/images/meet-the-team-jon-image.jpeg" alt="Photo of team member Jonathan">
        <h3>Jonathan</h3>
        <h4>Loves games almost as much as he loves food. Favorite games are Skyrim, The Witcher and the Metal
            Gear Solid series.</h4>
    </div>
    <div class="col-lg-4">
        <img src="/static/images/meet-the-team-steph-image.jpeg" alt="Photo of team memeber Stephanie">
        <h3>Stephanie</h3>
        <h4>Her boyfriends name is Garrus (yes that one). Huge Mass Effect and Assassin Creed fan.</h4>

    </div>
    <div class="col-lg-4">
        <img src="/static/images/meet-the-team-mystique-image.jpeg" alt="JVN logo">
        <h3>Mystique</h3>
        <h4>Shes a cat so doesn't play videogames. If she had a favorite it would be Stray.</h4>
    </div>
</div>
</section>

{% endblock content  %}