{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<!--News post details-->
<div>
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6">
                <h1 class="post-title">{{ post.title }}</h1>
                <p class="post-subtitle">{{ post.author }} | {{ post.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6">
                {% if "placeholder" in post.featured_image.url %}
                <img src="{% static 'images/background-image-home.webp' %}" alt = "videogame-image">
                {% else %}
                <img src=" {{ post.featured_image.url }}" width="100%" alt = "video-game image">
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!--Post authentication and content-->
<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left top">
            <div class="card-body card-text ">

              
                    {{ post.content | safe }}
              
                <div class="row">
                    <!-- Code for liking comments-->
                    <div class="col-1 ml-auto text-center">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i
                                        class="fas fa-heart"></i></button>
                                {% else %}
                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i
                                        class="far fa-heart"></i></button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span class="text-secondary"><i class="far fa-heart"></i></span>
                            {% endif %}

                            <span class="text-secondary">{{ post.number_of_likes }} </span>
                        </strong>
                    </div>
                    <div class="col-1 text-center">
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><i class="far fa-comments"></i>

                            {{ total_comments }}</strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <!--Code for commenting and comments-->
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Comments:</h3>
            <div class="card-body">

                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">

                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">

                            {{ comment.created_on }}
                        </span> wrote:
                    </p>

                    {{ comment.body | linebreaks }}
                    {% if user.username == comment.name %}
                    <button><a href="/edit/{{ comment.id }}">
                            Edit
                        </a></button>
                    {% endif %}

                    {% if user.username == comment.name %}
                    <button><a href="/delete/{{ comment.id }}">
                            Delete
                        </a></button>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        <!--Message alert for comment approval-->
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval
                </div>
                {% else %}
                {% if user.is_authenticated %}

                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg buttons">Submit</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>


{% endblock content %}