<!DOCTYPE html>
<html lang="en">

{% load static %}

{% load cloudinary %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <!--Link to Style Sheet-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">



    <!--title-->
    <title>JVN</title>
</head>

<body>
    <!-- Header and Navbar-->
    <header>
        <div>
            <nav class="nav-bar ">
                <a href="{% url 'home' %}">
                    <img class="logo" src="{% static 'images/jvn-logo-2' %}" alt="JVN logo">
                </a>
                <h1 class="title">Jon's Videogame News!</h1>
                <ul class="nav-links">
                    <li {% if request.path == '/' %}class="active" {% endif %}> <a aria-current="page"
                            href="{% url 'home' %}">Home</a></li>
                    <li {% if request.path == '/about/' %}class="active" {% endif %}> <a
                            href="{% url 'about' %}">About</a></li>
                    <li {% if request.path == '/contact/' %}class="active" {% endif %}> <a
                            href="{% url 'contact_view' %}">Contact</a></li>
                    {% if user.is_authenticated %}
                    <li> <a href="{% url 'account_logout' %}">Logout</a></li>

                    {% else %}
                    <li> <a href="{% url 'account_signup' %}">Register</a></li>
                    <li> <a href="{% url 'account_login' %}">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    <!-- Message Alert -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 alert-msg">
                {% for message in messages %}
                <div class="alert alert-warning {{ message.tags }} alert-dismissible" id="msg" role="alert">
                    {{ message | safe }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!--Section for Content-->
    <section>
        <div>
            <div>
                {% block content %}

                {% endblock content %}
            </div>
        </div>
    </section>
    <br>
    <br>
    <br>
    <!-- Socials (some similiar code from previous project - A History of PlayStation) -->
    <footer class="footer">
        <div>
            <div class="social-links">
                <ul class="social-links-list">
                    <li><a href="https://open.spotify.com/show/1qWCjKkHILrRLscI33N0v7?si=9e41dd47eede4623"
                            target="_blank" rel="noopener"><i class="fa-brands fa-spotify"></i></a></li>
                    <li><a href="https://twitter.com/IGN?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"
                            target="_blank" rel="noopener"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="https://www.instagram.com/gamespot/" target="_blank" rel="noopener"><i
                                class="fa-brands fa-square-instagram"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <!--Copyright-->
        <p class="copyright">Copyright <i class="fa-regular fa-copyright"></i> Jonathan Morrissey</p>
    </footer>

    <!--Font Awesome Script-->
    <script src="https://kit.fontawesome.com/78446c3a66.js" crossorigin="anonymous"></script>

    <!--JQuery-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!--Message alert fade and dismiss-->
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $('.alert-msg').fadeOut('slow');
            }, 5000);
            $('.alert-msg').on('click', '.close', function () {
                $(this).parent().fadeOut('slow');
            });
        });
    </script>
</body>

</html>