{% extends "base.html" %}

{% load static %}
{% block content %}


<body>
    {% if commented %}
    <div class="alert alert-success" role="alert">
        Your comment is awaiting approval
    </div>
    {% else %}
    {% if user.is_authenticated %}
    <h1>Edit a Comment:</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
            <p>
                <button type="submit">Update Comment</button>
            </p>
        </div>
    </form>

    {% endif %}
    {% endif %}
</body>

{% endblock content %}