<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Link to Style Sheet-->
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <title>JVN</title>
</head>

<body>


    <!-- Header and Navbar-->
    <header>
        <div>
            <nav class="nav-bar">
                <a href="index.html" target="_blank">
                    <img class="logo" src="/static/images/JVN-Logo.jpg" alt="JVN logo">
                </a>
                <h1>Jon's Videogame News</h1>
                <ul class="nav-links">
                    <li> <a href="#home-section">Home</a></li>
                    <li> <a href="#about-section">About</a></li>
                    <li> <a href="#contact-section">Contact</a></li>
                    <li> <a href="#contact-section">Sign Up</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!---Background Photo-->
    <div class="background-photo">
        <img src="/static/images/JVN-Cover-Photo.webp" alt="image of lots of videogame consoles">
    </div>
    <!--News Articles-->
    <section class="news-articles">
        <div>
            <h2>News Article 1</h2>
            <h3>News content</h3>
        </div>
        <div>
            <h2>News Article 2</h2>
            <h3>News content</h3>
        </div>
        <div>
            <h2>News Article 3</h2>
            <h3>News content</h3>
        </div>

    </section>





    <!-- Socials (some similiar code from previous project - A History of PlayStation) -->
    <footer>
        <div class="social-links">
            <ul class="social-links-list">
                <li><a href="https://open.spotify.com/show/1qWCjKkHILrRLscI33N0v7?si=3fb00a1d6b1e42dc" target="_blank"
                        rel="noopener"><i class="fa-brands fa-spotify"></i></a></li>
                <li><a href="https://twitter.com/HLLPod" target="_blank" rel="noopener"><i
                            class="fa-brands fa-twitter"></i></a></li>
                <li><a href="https://www.instagram.com/hllpod/" target="_blank" rel="noopener"><i
                            class="fa-brands fa-square-instagram"></i></a></li>
            </ul>
        </div>
        <!--Copyright-->
        <p class="copyright">Copyright <i class="fa-regular fa-copyright"></i> Jonathan Morrissey</p>
    </footer>
    <!--Font Awesome Script-->
    <script src="https://kit.fontawesome.com/78446c3a66.js" crossorigin="anonymous"></script>
</body>

</html>