{% extends "base.html" %}

{% block content %}
<!---Background Photo-->
<div class="background-photo">
    <img src="/static/images/background-image-home.webp" alt="image of lots of videogame consoles">
</div>
<!--News Articles-->
<section>
    <div class="col-md-12 col-lg-8-col-xl-7">
        {% for post in post_list %}
        <div class="news-preview">
            <a href="{% url 'post_detail' post.slug  %}">
                <h2 class="news-title">{{ post.title }}</h2>
                <h3 class="news-subtitle">{{ post.excerpt }}</h3>
            </a>
            <p class="news-posted-by">
                Posted by {{ post.author }} on {{ post.created_on }}
            </p>
            <hr />
            <p class="card-text text-muted h6">{{ post.created_on}} <i class="far fa-heart"></i>
                {{ post.number_of_likes }}</p>
        </div>
        <br>
        <div class="news-preview">
            <a href="{% url 'post_detail' post.slug  %}">
                <h2 class="news-title">{{ post.title }}</h2>
                <h3 class="news-subtitle">{{ post.excerpt }}</h3>
            </a>
            <p class="news-posted-by">
                Posted by {{ post.author }} on {{ post.created_on }}
            </p>
            <hr />
            <p class="card-text text-muted h6">{{ post.created_on}} <i class="far fa-heart"></i>
                {{ post.number_of_likes }}</p>
        </div>
        <br>
        <div class="news-preview">
            <a href="{% url 'post_detail' post.slug  %}">
                <h2 class="news-title">{{ post.title }}</h2>
                <h3 class="news-subtitle">{{ post.excerpt }}</h3>
            </a>
            <p class="news-posted-by">
                Posted by {{ post.author }} on {{ post.created_on }}
            </p>
            <hr />
            <p class="card-text text-muted h6">{{ post.created_on}} <i class="far fa-heart"></i>
                {{ post.number_of_likes }}</p>
        </div>
        <br>
        <div class="news-preview">
            <a href="{% url 'post_detail' post.slug  %}">
                <h2 class="news-title">{{ post.title }}</h2>
                <h3 class="news-subtitle">{{ post.excerpt }}</h3>
            </a>
            <p class="news-posted-by">
                Posted by {{ post.author }} on {{ post.created_on }}
            </p>
            <hr />
            <p class="card-text text-muted h6">{{ post.created_on}} <i class="far fa-heart"></i>
                {{ post.number_of_likes }}</p>
        </div>
    </div>
    {% endfor %}
</section>
<br>

<!-- Socials (some similiar code from previous project - A History of PlayStation) -->

</body>

</html>
{%endblock%}